@font-face {
  font-family: "Orator W01";
  src: url("../fonts/OratorWoff2.woff2") format("woff2"),
    url("../fonts/OratorWoff.woff") format("woff"),
    url("../fonts/OratorTtf.ttf") format("ttf"),
    url("../fonts/OratorEot.eot") format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica W01";
  src: url("../fonts/HelveticaW01Woff2.woff2") format("woff2"),
    url("../fonts/HelveticaW01Woff.woff") format("woff"),
    url("../fonts/HelveticaW01Ttf.ttf") format("ttf"),
    url("../fonts/HelveticaW01Eot.eot") format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* DO NOT USE 
Courier New is a system font */

/* @font-face {
  font-family: "Courier New";
  src: url("../fonts/courierNewsPSMT-webfont.woff2") format("woff2"),
    url("../fonts/courierNewsPSMT-webfont.woff") format("woff"),
    url("../fonts/courierNewsPSMT.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */
